// GettOff

.getOffHoddy{
    width:$screenPercentageWidth;
    height: 100%;
    background-image: url("../img/background_Gift.webp");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: $moonBackgroundColor;
    margin: 200px auto;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items:center;
    .containerGetOff{
        width:90%;
        max-width: 1300px;
        @include display_flex_row_center_center();
        gap:50px;
        padding-top:100px;
        padding-bottom: 100px;
        .info{
            display:flex;
            flex-direction: column;
            align-items:flex-start;
            .title{
                font-size:$subtitle;
                font-family: $fontRubik;
                color:$primaryColor;
            }
            .paragraph{
                margin-top: 50px;
                .subtitle, .sentence, .cta{
                    font-size:$nameLogo;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $backgroundColor;
                }
                .sentence{
                    font-size:$sentence;
                }
            }
            label{
                align-self: self-end;
                .ctaSentence{
                    text-align: right;
                    cursor: pointer;
                    margin-top: 20px;
                    font-size:$regularText;
                    font-family: $fontJura;
                    font-weight: $bold;
                    color: $backgroundColor;
                    transition: color .3s ease-in-out;
                    &:hover{
                        color: $primaryColor;
                        text-decoration: underline;
                    }
                }
            }
        }
        .hoddy{
            width:fit-content;
            animation: hoddy 2s linear 2s infinite;
            @keyframes hoddy {
                0%{
                    filter: drop-shadow(0 0 1px #BC2327);
                }
                25%{
                    filter: drop-shadow(0 1px 2px #BC2327);
                }
                50%{
                    filter: drop-shadow(0 2px 3px #BC2327);
                }
                75%{
                    filter: drop-shadow(0 3px 5px #BC2327);
                }
                100%{
                    filter: drop-shadow(0 4px 6px #BC2327);
                }
            }
        }
    }
    #cross{
        display: none;
        &:checked ~ .bannerGetOff{
            transform: translateY(0%);
        }
    }
    .bannerGetOff{
        width: 65vw;
        max-width: fit-content;
        height: auto;
        @extend .flexColumnEvenlyCenter;
        border-radius: 10px;
        background-color:#00000013;
        box-shadow: $boxShadowMenu;
        position: fixed;
        top:20%;
        left:0%;
        right:0px;
        margin:auto;
        z-index: 2;
        transform: translateY(500%);
        overflow: hidden;
        transition: $transition;
        .title{
            font-size:$subtitle;
            font-family: $fontRubik;
            color: $primaryColor;
            margin-top:20px;
        }
        label{
            width:auto;
            align-self: self-end;
            .crossCloseWhite{
                width:25px;
                cursor: pointer;
                z-index: 3;
                background-color: $blackColor;
                border-radius: 50%;
                transform: rotate(0deg);
                transition: $transition;
                &:hover{
                    transform: rotate(90deg);
                }
            }
        }
        .slideGetOff{
            @extend .flexRowEvenlyCenter;
            padding: 20px 20px 0px;
            backdrop-filter: blur(10px);
            .hoddy{
                padding:10px;
                img{
                    width:100%;
                    height:fit-content;
                    object-fit: cover
                }
                h3{
                    margin-top: 30px;
                    font-size:$regularText;
                    font-family: $fontJura;
                    color: $primaryColor;
                }
                p{
                    padding: 10px auto;
                    font-size:$regularText;
                    font-family: $fontJura;
                    color: $backgroundColor;
                }
            }
        }
    }
    .bannerGetOff::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color:#000000e5;
        backdrop-filter: blur(10px);
        filter: blur(10px);
        z-index: -1;
        border-radius: 10px;
    }
    .bannerGetOff > * {
        position: relative;
    }
}
