
// Media - Queries Landing

// Screen 1350px

@media (max-width: 1350px){
    .mainContainer{
        .heroSection{
            .containerHeroSection{
                .heroSectionCentered{
                    .info{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        .break{
                            font-size:$sectionSubtitle ;
                        }
                        .subtitle{
                            font-size:$sentence;
                        }
                        .cta{
                            .ctaDiscount, .ctaNewArrivals{
                                font-size:$regularText;
                            }
                        }
                        .promo{
                            font-size:$smallText;
                        }
                    }
                }
            }
        }
    }
}

// Screen 1230px

@media (max-width: 1230px){
    .header{
        .menuSide{
            width:25vw;
        }
    }
    .mainContainer{
        .heroSection{
            .containerHeroSection{
                .heroSectionCentered{
                    .info{
                        .cta{
                            width: 100%;
                            .ctaDiscount, .ctaNewArrivals{
                                width: 100%;
                                padding:$paddingBreakSmall;
                            }
                        }
                    }
                }
            }
        }
    }
    .bestSellers{
        .sectionCardBlock{
            gap:20px;
        }
    }
}

// Screen 1120px

@media (max-width: 1120px){
    .header{
        .menuSide{
            width:30vw;
        }
    }
    .mainContainer{
        .heroSection{
            .containerHeroSection{
                .heroSectionCentered{
                    .info{
                        .break{
                            font-size:$cardLetter ;
                        }
                        .cta{
                            .ctaDiscount, .ctaNewArrivals{
                                width: 100%;
                                font-size:$smallText;
                            }
                        }
                        .promo{
                            font-size:$xSmallText;
                        }
                    }
                }
            }
        }
        .sectionShop{
            width:50vw;
        }
        .sectionWishlist{
            width:35vw;
        }
        .bestSellers{
            .sectionCardBlock{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
                gap:20px;
            }
        }
        #newArrivalsUno, #containerNewArrivals{
            .sectionCardContainer{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
        .getOffHoddy{
            .containerGetOff{
                .info{
                    margin:auto;
                }
            }
            .bannerGetOff{
                width: 40vw;
                height: 100vh;
                top:0%;
                left:0%;
                margin-left: 0;
                z-index: 11;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-size:$LargeTitle;
                    padding-left: 20px;
                    padding-right: 20px;
                }
                .slideGetOff{
                    width:100%;
                    height:80vh ;
                    overflow-y:scroll;
                    display: flex;
                    flex-direction:column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px 0px;
                    .hoddy{
                        width:100%;
                    }
                }
            }
        }
        .giftCards{
            width:90vw;
            max-width: 100%;
            .containerGetOff{
                width: 100%;
            }
        }
    }
}

// Screen 1000px

@media (max-width: 1000px){
    .header{
        .menuSide{
            width:35vw;
        }
    }
    .mainContainer{
        .heroSection{
            height: auto;
            .containerHeroSection{
                margin: 50px auto 50px;
                .heroSectionCentered{
                    display: flex;
                    flex-direction: column-reverse;
                    gap:50px;
                    .info{
                        width:60%;
                        .cta{
                            .ctaDiscount, .ctaNewArrivals{
                                flex-grow: 1;
                            }
                        }
                    }
                }
                .laptop{
                    width:70vw;
                }
            }
        }
        .getOffHoddy{
            .containerGetOff{
                @include display_flex_column_space_around_flex_start();
                align-items: center;
                .info{
                    margin-top: 0px;
                    text-align: left;
                    .title{
                        width:100%;
                        text-align: center;
                    }
                }
                .hoddy{
                    width:70vw;
                }
            }
            .ctaSentence{
                display:none;
            }
        }
        .giftCards{
            .containerGetOff{
                width:100vw;
                display: flex;
                flex-direction: column-reverse;
                justify-content:space-between;
                align-items:center;
                .containerMessage{
                    width:50%;
                }
            }
        }
    }
    .footerContainer .containerFooter{
        width:100%;
        height:auto;
        .footer{
            display: flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
            gap:20px;
            .brand{
                position: static;
                text-align: center;
                display:block;
            }
            .socialMediaFooter{
                order:2;
                text-align: center;
                display:block;
                ul{
                    display: flex;
                    justify-content: center;
                }
            }
            .payments{
                order:3;
                display:block;
                text-align: center;
                align-self: center;
            }
        }
    }
}

// Screen 950px

@media (max-width: 950px){
    .mainContainer{
        .heroSection{
            .containerHeroSection{
                .heroSectionCentered{
                    .info{
                        width:70%;
                        .cta{
                            .ctaDiscount, .ctaNewArrivals{
                                flex-grow: 1;
                            }
                        }
                    }
                }
            }
        }
        .bestSellers{
            .sectionCardBlock{
                .cardProducts{
                    .article{
                        .info{
                            .nameOutfit{
                                font-size: $sentence;
                            }
                            .price{
                                font-size: $smallText;
                            }
                        }
                    }
                }
            }
        }
        .sectionShop{
            width:55vw;
        }
        .sectionWishlist{
            width:40vw;
        }
        .showRoom{
            gap:40px;
            .leftSide{
                .itemProduct{
                    width:55%;
                    display: flex;
                    margin: 0 auto;
                }
            }
        }
        .advertising{
            .advertisingMood{
                .subtitle{
                    font-size: $LargeTitle;
                }
            }
        }
        #newArrivalsUno, #containerNewArrivals{
            .sectionCardContainer{
                .cardProducts{
                    .article1, .article2, .article3, .article4, .article5, .article6, .article7, .article8, .article9, .article10{
                        .smallCard{
                            .price{
                                font-size: $smallText;
                            }
                        }
                        .nameOut{
                            font-size: $sentence;
                        }
                    }
                }
            }
        }
    }
}

// Screen 850px

@media (max-width: 850px){
    .header{
        .menuSide{
            width:40vw;
        }
    }
    .mainContainer{
        .heroSection{
            width:100vw;
        }
        .bestSellers{
            .sectionCardBlock{
                grid-template-columns: repeat(3, 1fr);
                gap:15px;
            }
        }
        #newArrivalsUno, #containerNewArrivals{
            .sectionCardContainer{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                row-gap:30px;
            }
        }
        .giftCards{
            .containerGetOff{
                width: 100%;
                .containerCards{
                    width:80%;
                    .card1, .card2, .card3, .card4{
                        width:100%;
                    }
                }
                .containerMessage{
                    width: 70%;
                }
            }
        }
    }
}

// Screen 750px

@media (max-width: 750px){
    .header{
        .menuSide{
            width:50vw;
        }
    }
    .mainContainer{
        .heroSection{
            .containerHeroSection{
                .heroSectionCentered{
                    width:90%;
                    margin: auto;
                    .info{
                        width:100%;
                    }
                    .laptop{
                        width:100%;
                    }
                }
            }
        }
        .sectionShop{
            width:60vw;
        }
        .sectionWishlist{
            width:60vw;
        }
        .advertising{
            .advertisingMood{
                .subtitle{
                    font-size: $nameLogo;
                }
            }
        }
        .bestSellers{
            .sectionCardBlock{
                .cardProducts{
                    .article{
                        .info{
                            .nameOutfit{
                                font-size: $MediumTitle;
                            }
                            .price{
                                font-size: $xSmallText;
                            }
                        }
                    }
                }
            }
        }
        #newArrivalsUno, #containerNewArrivals{
            .sectionCardContainer{
                .cardProducts{
                    .article1, .article2, .article3, .article4, .article5, .article6, .article7, .article8, .article9, .article10{
                        .smallCard{
                            .price{
                                font-size: $xSmallText;
                            }
                        }
                        .nameOut{
                            font-size: $MediumTitle;
                        }
                    }
                }
            }
        }
        .getOffHoddy{
            .bannerGetOff{
                width:45vw;
            }
        }
        .giftCards{
            width:100vw;
            max-width: 100%;
            .containerGetOff{
                width:100% ;
            }
        }
    }
}

// Screen 650px

@media (max-width: 650px){
    .mainContainer{
        .giftCards{
            width:100vw;
            .containerGetOff{
                .containerCards{
                    width:90% ;
                }
                .containerMessage{
                    width:75% ;
                    text-align: center;
                }
            }
        }
    }
}

// Screen 600px

@media (max-width: 600px){
    .header{
        .menuSide{
            width:60vw;
        }
    }
    .mainContainer{
        .bestSellers{
            .sectionCardBlock{
                grid-template-columns: repeat(2, 1fr);
                gap:20px;
            }
        }
        .sectionShop{
            width:80vw;
        }
        .sectionWishlist{
            width:80vw;
        }
        #newArrivalsUno, #containerNewArrivals{
            .title{
                font-size: $nameLogo;
            }
            .sectionCardContainer{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
        .showRoom{
            .rightSide{
                .infoProduct{
                    .size{
                        .containerSize{
                            gap:10px;
                        }
                    }
                }
            }
        }
        .advertising{
            .advertisingMood{
                .subtitle{
                    font-size: $sentence;
                }
            }
        }
        .getOffHoddy{
            .bannerGetOff{
                width: 55vw;
            }
        }
    }
}

// Screen 510px

@media (max-width: 510px){
    .header{
        .logo{
            left:-50px;
            // display:none;
        }
    }
    .mainContainer{
        .heroSection{
            display: flex;
            justify-content: center;
            align-items: center;
            margin:auto;
            .containerHeroSection{
                .heroSectionCentered{
                    display: flex;
                    flex-direction: column-reverse;
                    justify-content: center;
                    align-items: center;
                    width:85vw;
                    margin:auto;
                    .info{
                        width:100%;
                        .cta{
                            width:100%;
                            .ctaDiscount, .ctaNewArrivals{
                                width:auto;
                            }
                        }
                    }
                    .laptop{
                        width:100%;
                    }
                }
            }
        }
        .bestSellers{
            .subtitle{
                font-size: $LargeTitle;
            }
        }
        .newArrivals, .bestSellers, .giftCards{
            .subtitle{
                font-size: $LargeTitle;
            }
        }
        .getOffHoddy{
            .containerGetOff{
                .info{
                    .title{
                        font-size: $LargeTitle;
                        place-self: center;
                    }
                    .paragraph{
                        .subtitle, .sentence{
                            font-size: $MediumTitle;
                        }
                    }
                }
            }
            .bannerGetOff{
                width: 65vw;
            }
        }
        .giftCards{
            .containerGetOff{
                display: flex;
                justify-content: center;
                align-items: center;
                margin:auto;
                .containerCards{
                    width:100%;
                    .sectionCards{
                        width: 100%;
                        padding: 0px;
                        .card1, .card2, .card3, .card4{
                            #icon{
                                width:35%;
                                height: auto;
                            }
                            .subtitleGift{
                                font-size:2rem;
                            }
                            .socialMedia{
                                .itemSocial{
                                    width:5%;
                                    height:auto;
                                }
                            }
                            .paragraph{
                                font-size:$BreakTextContent;
                            }
                        }
                    }
                }
                .containerMessage{
                    width:90%;
                    .subtitleMessage{
                        font-size: $nameLogo;
                    }
                    .paragraph{
                        font-size: $MediumTitle;
                    }
                }
            }
        }
        .advertising{
            .advertisingMood{
                .subtitle{
                    font-size: $MediumTitle;
                    transform:scale(180%);
                    margin: 10px auto;
                }
            }
        }
    }
}

// Screen 460px

@media (max-width: 460px){
    .mainContainer{
        .heroSection{
            .heroSectionCentered{
                width:87vw;
            }
        }
        .advertising{
            .advertisingMood{
                width:100%;
                .subtitle{
                    font-size: $regularText;
                }
            }
        }
        .getOffHoddy{
            .bannerGetOff{
                width: 80vw;
            }
        }
    }
}

// Screen 425px

@media (max-width: 425px){
    .mainContainer{
        .advertising{
            .advertisingMood{
                width:100%;
                .subtitle{
                    font-size: $smallText;
                }
            }
        }
        .getOffHoddy{
            .containerGetOff
            .hoddy{
                width:95%;
            }
            .bannerGetOff{
                width: 100vw;
            }
        }
    }
}

// Screen 400px

@media (max-width: 400px){
    .header{
        .menuSide{
            width:100vw;
        }
    }
    .mainContainer{
        .heroSection{
            .heroSectionCentered{
                width:85vw;
                .info{
                    .cta{
                        width:100%;
                        display: flex;
                        flex-direction: column;
                        .ctaDiscount, .ctaNewArrivals{
                            width:100%;
                        }
                    }
                }
            }
        }
        .sectionShop{
            width:100vw;
        }
        .sectionWishlist{
            width:100vw;
        }
        .bestSellers{
            .sectionCardBlock{
                grid-template-columns: repeat(1, 1fr);
            }
            .ctaStore{
                width:100%;
            }
        }
        #newArrivalsUno, #containerNewArrivals{
            width: 100vw;
            .sectionCardContainer{
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }
            .ctaStore{
                width:100%;
            }
        }
        .advertising{
            .advertisingMood{
                .subtitle{
                    font-size: $xxSmallText;
                }
            }
        }
        .giftCards{
            .containerGetOff{
                .containerCards{
                    .sectionCards{
                        .card1, .card2, .card3, .card4{
                            .subtitleGift{
                                font-size:1.5rem;
                            }
                        }
                    }
                }
                .containerMessage{
                    width:90%;
                    .subtitleMessage{
                        font-size: $nameLogo;
                    }
                    .paragraph{
                        font-size: $MediumTitle;
                    }
                }
            }
        }
        .footer{
            .payments{
                .paymentCards{
                    width:203px;
                }
            }
        }
    }
}

// Screen 360px

@media (max-width: 360px){
    .footerContainer{
        .containerFooter{
            .development{
                .developer{
                    display:flex;
                    flex-direction: column;
                }
            }
        }
    }
}
