

/*************** Media queries SignIn & CreateAccount, Store, & ShowRoom ******************/

// Screen 1230px

@media (max-width: 1230px){
    .headerSignIn{
        .menuSide{
            width:25vw;
        }
    }
    .containerStore{
        .sectionStore{
            gap: 20px;
            .sectionCard{
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }
}

@media (max-width: 1230px){
    .sectionPlaceOrder{
        width: 100%;
        left:10%;
        right:10%;
    }
}

// Filter

@media (max-width: 1230px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:25vw;
                }
            }
        }
    }
}

// Screen 1120px

@media (max-width: 1120px){
    .headerSignIn{
        .menuSide{
            width:30vw;
        }
    }
    .container{
        .sectionShop{
            width:50vw;
        }
        .sectionWishlist{
            width:35vw;
        }
        .getOffSignIn{
            .bannerGetOff{
                width: 40vw;
                height: 100vh;
                top:0%;
                left:0%;
                margin-left:0px;
                z-index: 11;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-size:$LargeTitle;
                }
                .slideGetOff{
                    width:100%;
                    height:80vh ;
                    overflow-y:scroll;
                    display: flex;
                    flex-direction:column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px 0px;
                    .hoddy{
                        width:100%;
                    }
                }
            }
        }
    }
    .mainContainer{
        .getOffShowRoom{
            .bannerGetOff{
                width: 40vw;
                height: 100vh;
                top:0%;
                left:0%;
                margin-left:0px;
                z-index: 11;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-size:$LargeTitle;
                }
                .slideGetOff{
                    width:100%;
                    height:80vh ;
                    overflow-y:scroll;
                    display: flex;
                    flex-direction:column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px 0px;
                    .hoddy{
                        width:100%;
                    }
                }
            }
        }
    }
}

// Filter

@media (max-width: 1120px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:30vw;
                }
            }
        }
        .sectionShop{
            width:50vw;
        }
        .sectionWishlist{
            width:35vw;
        }
        .getOffStore{
            .bannerGetOff{
                width: 40vw;
                height: 100vh;
                top:0%;
                left:0%;
                margin-left: 0;
                z-index: 11;
                display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;display: flex;
                flex-direction:column;
                justify-content: space-between;
                align-items: center;
                .title{
                    font-size:$LargeTitle;
                    padding-left: 30px;
                    padding-right: 30px;
                }
                .slideGetOff{
                    width:100%;
                    height:80vh ;
                    overflow-y:scroll;
                    display: flex;
                    flex-direction:column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0px 20px 0px;
                    .hoddy{
                        width:100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1120px){
    .swal2-container{
        .swal2-popup{
            width:40vw;
        }
    }
}

// Screen 1000px

@media (max-width: 1000px){
    .headerSignIn{
        .menuSide{
            width:35vw;
        }
    }
}

@media (max-width: 1000px){
    .mainContainer{
        .showRoom{
            .leftSide{
                .itemProduct{
                    width:100%;

                }
            }
        }
    }
    .containerStore{
        .sectionStore{
            .sectionCard{
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }
}

@media (max-width: 1000px){
    .sectionPlaceOrder{
        width: 100%;
        left:5%;
        right:5%;
    }
}

// Filter

@media (max-width: 1000px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:35vw;
                }
            }
        }
    }
}

//Screen 950px

@media (max-width: 950px){
    .container{
        // .sectionShop{
        //     width:55vw;
        // }
        .sectionWishlist{
            width:40vw;
        }
    }
}

@media (max-width: 950px){
    .containerStore{
        // .sectionShop{
        //     width:55vw;
        // }
        .sectionWishlist{
            width:40vw;
        }
    }
}

// Screen 850px

@media (max-width: 850px){
    .headerSignIn{
        .menuSide{
            width:40vw;
        }
    }
    .containerStore{
        .sectionStore{
            .sectionCard{
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }
}

@media (max-width: 850px){
    .sectionPlaceOrder{
        width: 50vw;
        height: 100vh;
        top:0%;
        left:0%;
        right: 0%;
        border-radius: 0%;
        .unionOrder{
            flex-direction: column;
            justify-content: space-evenly;
            gap:10px;
            .delivery{
                margin:-30px auto;
            }
            .delivery, .formPayment{
                width: 100%;
                height: auto;
                .deliveryContact{
                    gap:1px;
                    .contactTitle, .deliveryTitle{
                        font-size: $xSmallText;
                        margin:0px auto;
                    }
                    fieldset{
                        label{
                            input{
                                padding-top: 2px;
                                padding-bottom: 2px;
                                font-size: $BreakTextContent;
                            }
                        }
                    }
                }
                .creditCards{
                    margin:5px 0px 2px 15px;;
                    .transactions{
                        font-size: $xxSmallText;
                    }
                }
            }
            .formPayment{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap:1px;
                .paymentTitle{
                    font-size: $xSmallText;
                    margin:0px auto;
                }
                fieldset{
                    label{
                        input{
                            padding-top: 2px;
                            padding-bottom: 2px;
                            font-size: $BreakTextContent;
                        }
                    }
                    select{
                        font-size: $BreakTextContent;
                        padding-top: 2px;
                        padding-bottom: 2px;
                    }
                    .cardNumbers{
                        margin-top: 4px;
                    }
                }
                .btnPlaceOnOrder{
                    margin-top: 10px;
                }
            }
        }
    }
}

// Filter & Shopping Cart

@media (max-width: 850px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:40vw;
                }
            }
        }
    }
}

@media (max-width: 850px){
    .swal2-container{
        .swal2-popup{
            width:50vw;
        }
    }
}

// Insights Accordion

@media (max-width: 850px){
    .mainContainer{
        .showRoom{
            .rightSide{
                .containerAccordion{
                    .accordionItem{
                        .accordionCollapse{
                            .accordionBody{
                                flex-direction: column;
                            }
                        }
                    }
                }
                .infoProduct{
                    .complementInfo{
                        flex-direction:column;
                        align-items: center;
                        .delivery, .creditCard, .return{
                            width:45%;
                        }
                    }
                }
            }
        }
    }
}


// Screen 750px

@media (max-width: 750px){
    .headerSignIn{
        .menuSide{
            width:50vw;
        }
    }
    .container{
        .logInCreateAccount {
            .tags{
                .formCreateAccount, .formLogIn{
                    width:100vw;
                }
            }
            .bannerCreateAccount{
                .background{
                    display:none;
                }
            }
        }
        .sectionShop{
            width:60vw;
        }
        .sectionWishlist{
            width:60vw;
        }
        .getOffSignIn{
            .bannerGetOff{
                width:45vw;
            }
        }
    }
}

// Filter & Shopping Cart

@media (max-width: 750px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:50vw;
                }
            }
        }
        .sectionShop{
            width:60vw;
        }
        .sectionWishlist{
            width:60vw;
        }
        .getOffStore{
            .bannerGetOff{
                width:45vw;
            }
        }
    }
    .mainContainer{
        .showRoom{
            .rightSide{
                .infoProduct{
                    .size{
                        .containerSize{
                            gap:5px;
                        }
                    }

                }
            }
        }
        .getOffShowRoom{
            .bannerGetOff{
                width:45vw;
            }
        }
    }
}

@media (max-width: 750px){
    .sectionPlaceOrder{
        width:65vw;
    }
}

@media (max-width: 750px){
    .swal2-container{
        .swal2-popup{
            width:60vw;
        }
    }
}

// Screen 600px

@media (max-width: 600px){
    .headerSignIn{
        .menuSide{
            width:60vw;
        }
    }
    .container{
        .sectionShop{
            width:80vw;
        }
        .sectionWishlist{
            width:80vw;
        }
        .getOffSignIn{
            .bannerGetOff{
                width: 55vw;
            }
        }
    }
    .containerStore{
        .sectionStore{
            .sectionCard{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
        .getOffStore{
            .bannerGetOff{
                width: 55vw;
            }
        }
    }
}

@media (max-width: 600px){
    .sectionPlaceOrder{
        width:80vw;
    }
}

// Filter & Shopping Cart

@media (max-width: 600px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:60vw;
                }
            }
        }
        .sectionShop{
            width:80vw;
        }
        .sectionWishlist{
            width:80vw;
        }
    }
    .mainContainer{
        .getOffShowRoom{
            .bannerGetOff{
                width: 55vw;
            }
        }
    }
}

// Screen 550px

@media (max-width: 550px){
    // .mainContainer{
    //     .showRoom{
    //         .rightSide{

    //         }
    //     }
    // }
}

// Screen 500px

@media (max-width: 500px){
    .mainContainer{
        .showRoom{
            .leftSide{
                .itemProduct{
                    width: 100%;
                    margin: 0px 0px;
                }
            }
        }
        .getOffShowRoom{
            .bannerGetOff{
                width: 65vw;
            }
        }
    }
    .containerStore{
        .sectionStore{
            .sectionCard{
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
        .getOffStore{
            .bannerGetOff{
                width: 65vw;
            }
        }
    }
    .container{
        .logInCreateAccount{
            .tags{
                .formLogIn, .formCreateAccount{
                    legend{
                        font-size: $nameLogo;
                    }
                }
                .formCreateAccount{
                    .ctaToCreateAccount{
                    margin-top: 15px;
                    }
                }
            }
        }
        .getOffSignIn{
            .bannerGetOff{
                width: 65vw;
            }
        }
    }
    .mainContainer, .containerStore{
        .bannerShipping{
            .shipping{
                font-size:$BreakTextContent !important;
                padding: 5px;
            }
        }
    }
}

@media (max-width: 500px){
    .swal2-container{
        .swal2-popup{
            width:80vw;
        }
    }
}

@media (max-width: 500px){
    .sectionPlaceOrder{
        width:100vw;
    }
}


// Screen 460px

@media (max-width: 460px){
    .containerStore{
        .getOffStore{
            .bannerGetOff{
                width: 80vw;
            }
        }
    }
    .container{
        .getOffSignIn{
            .bannerGetOff{
                width: 80vw;
            }
        }
    }
    .mainContainer{
        .showRoom{
            width:100%;
            display:flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            .leftSide{
                position:static;
                width:85vw;
                .itemProduct{
                    width:100%;
                    height: auto;
                    display:flex;
                    margin:auto;
                }
            }
            .rightSide{
                width:85vw;
            }
        }
        .getOffShowRoom{
            .bannerGetOff{
                width: 85vw;
            }
        }
    }
}

// Screen 425px

@media (max-width: 425px){
    .headerSignIn{
        .menuSide{
            width:100vw;
        }
    }
    .container, .containerStore, .mainContainer{
        .sectionShop{
            width:100vw;
            .menuCart{
                .menuCartlist{
                    .outcomeCard{
                        width:100%;
                        .btnCheckout{
                            width:90%;
                        }
                    }
                }
            }
        }
        .sectionWishlist{
            width:100vw;
        }
    }
    .containerStore{
        .sectionStore{
            .sectionCard{
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(1, 1fr);
            }
        }
    }
    .container{
        .getOffSignIn{
            .bannerGetOff{
                width: 100vw;
            }
        }
    }
    .mainContainer{
        .getOffShowRoom{
            .bannerGetOff{
                width: 100vw;
            }
        }
    }
}

@media (max-width: 425px){
    .swal2-container{
        .swal2-popup{
            width:85vw;
        }
    }
}


// Filter & Shopping Cart

@media (max-width: 425px){
    .containerStore{
        .sectionFilter{
            .menuFilterSide{
                .menuFilter{
                    width:100vw;
                }
            }
        }
        .sectionWishlist{
            width:100vw;
        }
        .getOffStore{
            .bannerGetOff{
                width: 100vw;
            }
        }
    }
}

// Screen 400px

@media (max-width: 400px){
    .swal2-container{
        .swal2-popup{
            width:90vw;
        }
    }
}
