// Modals

// Wishlist & shopping cart & store modal

#messageContainer, #messageNewProduct{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 10%;
    right: 3%;
    z-index: 99;
    div{
        .messageWishlist, .stockProduct{
            @extend .toast;
            background-color: #f1f1f1d1;
            color: $blackColor;
        }
        .stockProduct{
            color: $whiteColor;
            background-color: #6b6b6bd1;
        }
    }
}

// SoldOutStock

#out-of-stock-message{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 10%;
    right: 3%;
    z-index: 99;
    div{
        .soldOutProduct{
            @extend .toast;
            color: $whiteColor;
            background-color:#000000d1;
        }
    }
    animation:slideUp 11000ms linear 0.4s;
    @keyframes slideUp {
        0% {
            transform:translateY(0%);
        }
        25%{
            transform:translateY(-150%);
        }
        50% {
            transform:translateY(-350%);
        }
        75%{
            transform:translateY(-550%);
        }
        100% {
            transform:translateY(-750%);
        }
    }
}


// SwalPopUp - SignIn

.swal2-container{
    .swal2-popup{
        width:30vw;
        height:auto;
        background-color: $whiteColor;
        border-radius: $borderRadius;
        .swal2-title{
            font-size:$nameLogo;
            font-weight: $bold;
            color: $primaryColor;
            font-family: $fontJura;
        }
        .swal2-html-container{
            font-size:$smallText;
            font-weight: $mediumBold;
            color: $lineColor;
            font-family: $fontJura;
        }
    }
    .swal2-actions{
        width: 80%;
        .swal2-confirm{
            width: 100%;
            font-size:$regularText;
            font-weight: $ExtraBold;
            color: $whiteColor;
            font-family: $fontJura;
            background-color: $blackColor;
            padding:10px;
            border: $btnMenu;
            box-shadow: none;
            border-radius: 0%;
            transition: $transition;
            &:hover{
                color: $blackColor;
                background-color: $whiteColor;
                border: $btnMenu;
            }
        }
    }
}


