 // Banner shipping

.bannerShipping{
    width:100%;
    margin-top:-30px;
    .shipping{
        width:fit-content;
        height: auto;
        margin: auto;
        color:$whiteColor;
        font-size:$xSmallText;
        font-weight: 700;
        font-family: $fontJura;
        text-align: $ExtraBold;
        text-transform: uppercase;
        background-color:$blackColor;
        animation: shipping 4000ms linear;
        @keyframes shipping {
            0%{
                transform: translateX(-250%);
            }
            20%{
                transform: translateX(-200%);
            }
            40%{
                transform: translateX(-150%);
            }
            60%{
                transform: translateX(-100%);
            }
            80%{
                transform: translateX(-50%);
            }
            100%{
                transform: translateX(0%);
            }
        }
    }
}
